services:
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./html:/usr/share/nginx/html
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm

  php-fpm:
    build:
      context: ./docker/php-fpm
    volumes:
      - ./html:/usr/share/nginx/html
      - ./logs:/var/www/logs
      - ./config/php.ini:/usr/local/etc/php/conf.d/custom.ini
    depends_on:
      - mariadb

  mariadb:
    image: mariadb:latest
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: db_01
      MYSQL_USER: user
      MYSQL_PASSWORD: user-secret
    volumes:
      - mariadb-data:/var/lib/mysql # Persist data

volumes:
  mariadb-data:
